html {
       font-family: Arial, Helvetica, "Times New Roman", serif, sans-serif;
      background-color: black;
    }

    body {
      margin:0 auto;
      text-align: center;
      size: 150%;
      font-weight: bold;
      color: darkgrey;
    }

    img {
      border: none;
    }

    li {
      list-style:none;
  color: white; 
    }

    a {
      text-decoration:none;
    }

    nav {
      background-color: pink;
      border-top: 2px solid grey;
      border-bottom: 2px solid grey;
    }

    footer {
      background-color: pink;
      border-top: 2px solid grey;
      border-bottom: 2px solid grey;
      color: white;
    }

    .image {
      border-radius: 25px;
    }

    .text {
      color: pink;
    }